{% extends 'blog/base.html' %}
{% block title %}
    My Blog
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8" style="background-color:lavender;">
                <h2><a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a></h2>
                 {{ post.body|truncatewords:30|linebreaks }}
                <p class="date" align="right">
                    Published {{ post.publish }} by {{ post.author }}
                </p>
            </div>
        </div>

    {% endfor %}

    {% include "blog/pagination.html" with page=page_obj %}
{% endblock %}